<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="YOUR MOST UPDATED DISASTER ALERT, Report something?, INTUITIVE">
    <title>Home</title>
    <link rel="stylesheet" href="static/nicepage.css">
    <link rel="stylesheet" href="static/index.css">
    <script src="static/jquery.js" defer></script>
    <script src="static/nicepage.js" defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Open+Sans:300,400,500,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
    <meta name="theme-color" content="#478ac9">
</head>

<body class="u-body u-xl-mode" data-home-page="Home.html" data-home-page-title="Home">
    <header class="u-header" id="sec-3dd2">
        <div class="u-sheet u-valign-middle"></div>
    </header>

    <section class="u-section-1 u-image u-align-center" id="carousel_b06a" 
      style="background-image: url('elephant.jpg'); background-size: cover; background-position: center;">
      <div class="u-sheet u-valign-bottom-xs" style="text-align: center;">
          <h1 class="u-custom-font u-font-lato u-text-white u-text u-text-1">YOUR MOST UPDATED DISASTER ALERT</h1>
          <h2 class="u-custom-font u-font-comfortaa u-text u-text-body-alt-color">Report something?</h2>
          <a href="/form" class="u-btn u-button-style u-border-none" style="margin: auto;">CREATE A LIVE REPORT</a>
      </div>
    </section>

    <section class="u-section-2" id="sec-a102">
        <div class="u-sheet"></div>
    </section>
</body>
</html>
